# render.yaml
services:
  - type: web
    name: veo-saas-server
    env: node
    plan: free
    rootDir: server
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: GOOGLE_API_KEY
        sync: false
      - key: FIREBASE_SERVICE_ACCOUNT_JSON_PATH
        sync: false
      - key: GCS_BUCKET_NAME
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: FRONTEND_BASE_URL
        sync: false
